CMNC_POSTGRES_USER=cmnc
CMNC_POSTGRES_PASSWORD=cmnc_password
CMNC_POSTGRES_PORT=5432

CMNC_AUTH_DB=cmnc_auth
CMNC_CLASSROOM_DB=cmnc_classroom
CMNC_INVENTORY_DB=cmnc_inventory


CMNC_POLICY_SYNC_ADDRESS_LIST_NAME=cmnc_wan_blocked
CMNC_POLICY_SYNC_MIKROTIK_TIMEOUT_SECONDS=30
CMNC_POLICY_SYNC_HEALTHCHECK_WRITE_PROBE_ENABLED="true"
CMNC_POLICY_SYNC_HEALTHCHECK_ADDRESS=198.51.100.254

CMNC_RABBITMQ_USER=cmnc
CMNC_RABBITMQ_PASSWORD=cmnc_password
CMNC_RABBITMQ_VHOST=cmnc
CMNC_RABBITMQ_PORT=5672
CMNC_RABBITMQ_MANAGEMENT_PORT=15672

CMNC_API_GATEWAY_PORT=8000
CMNC_AUTH_PORT=8001
CMNC_CLASSROOM_PORT=8002
CMNC_INVENTORY_PORT=8003

CMNC_AUTH_JWT_SECRET=change-this-long-random-secret
CMNC_AUTH_BOOTSTRAP_SUPERADMIN_USERNAME=superadmin
CMNC_AUTH_BOOTSTRAP_SUPERADMIN_PASSWORD=superadmin
CMNC_AUTH_BOOTSTRAP_SUPERADMIN_DISPLAY_NAME=Super Administrator

CMNC_WEB_PORT=8080
CMNC_WEB_API_BASE_URL=

CMNC_WEB_DASHBOARD_REFRESH_INTERVAL_MS=5000
CMNC_WEB_ADMIN_PRESENCE_REFRESH_INTERVAL_MS=30000
CMNC_WEB_MAINTENANCE_REFRESH_INTERVAL_MS=5000
CMNC_WEB_ROUTERS_REFRESH_INTERVAL_MS=5000
CMNC_WEB_STATISTICS_REFRESH_INTERVAL_MS=30000

CMNC_CAMERA_TRANSCODE_VIDEO=true
CMNC_CAMERA_VIDEO_MODE=h264
CMNC_CAMERA_AUDIO_MODE=aac
CMNC_CAMERA_TRANSCODE_FPS=25
CMNC_CAMERA_TRANSCODE_CRF=20
CMNC_CAMERA_TRANSCODE_MAX_WIDTH=0
CMNC_CAMERA_TRANSCODE_PROFILE=high
CMNC_CAMERA_TRANSCODE_LEVEL=5.1
CMNC_CAMERA_STREAM_IDLE_TIMEOUT_SECONDS=45
